.syntax-container { font-size: 17px; }

h2, h3 { margin-bottom: 0.8em !important; }


/* Inline code can occur on every level of a list and
 * inside p's, thus it should be adapted to the elements
 * font size. twitter_bootstrap.css wants to set a fixed
 * size for code though. Thus we override it here and
 * inherit from the parent.
 */
body code {
	font-size: 80%;
}
